.jumbotron{
    color: rgb(6, 0, 0);
    font-size: 150px;
    height: 250px;
    text-align: center;
    background: url("concert.jpg");
    background-size: cover;
    background-position-y: center;
    position: relative;
    bottom: 0px;
}
.artistBox, .concertBox{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(84, 83, 83);
    height: 380px;
    overflow: scroll;
}
#login{
    float: left;
    font-size: 15px;
}
#foot{
    text-align: center;
    position: fixed;
  bottom: 0;
  background-color: rgb(84, 83, 83);
  color: whitesmoke;
}
#concertList{
    height: auto;
    color: black;
    text-align: center;
}

.selectedArtist {
    background: rgb(112, 166, 248);
}

.concertDiv{
    border-style: dotted;
    border-color: darkslateblue;
    border-width: 2px;
    padding: 5px;
}
.concertDiv:nth-of-type(odd){
    background-color: rgb(206, 206, 216);
}