
.carousel-inner {
    height: 250px;
}

.jumbotron{
    color: rgb(6, 0, 0);
    height: 250px;
}

.overlayTitle { 
    position:absolute;
    z-index:12;
    top:0%;
    left:0;
    width:100%;
    text-align:center;
    color:#fff;
  }

 h1 {
      font-size: 75px;
  }
  h3{
    font-size: 20px;
    font-weight: bold;
}
  #spotImg{
      height: 45px;
      width: 45px;
      float:right;
  }
body{
    font-family: 'Encode Sans Expanded', sans-serif;
}
.overlayText { 
    position:absolute;
    z-index:12;
    top:12%;
    left:0;
    width:100%;
    text-align:center;
    color:#fff;
  }

#headText {
    font-size: 25px;
}

#carouselImage1 {
    background: url("concert.jpg");
    background-size: cover;
    background-position-y: center;
    position: relative;
    bottom: 0px;
}

#carouselImage2 {
    background: url("iPhoneconcertpic.jpg");
    background-size: cover;
    background-position-y: center;
    position: relative;
    bottom: 0px;
}

#carouselImage3 {
    background: url("b&w.jpg");
    background-size: cover;
    background-position-y: center;
    position: relative;
    bottom: 0px;
}

.artistBox, .concertBox{
    height: 500px;
    color: whitesmoke;
    position: relative;
}

#concertList{
    height: auto;
    color: black;
    text-align: center;
}

.selectedArtist {
    background: rgb(95, 198, 99);
    padding: 10px;
}

.concertDiv{
    border-style: dotted;
    border-color: darkslateblue;
    border-width: 2px;
    padding: 5px;
}

.concertDiv:nth-of-type(odd){
    background-color: rgb(206, 206, 216);
}

#clearButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.foot {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(10, 16, 10);
    bottom: 0;
}

.crtext {
    font-size: 10px;
    color: whitesmoke;
    text-align: center;
    margin-top: 5px;
}
.modal-title{
    font-size: 25px;
}
.concertBox{
    background: linear-gradient(rgb(27, 41, 27), rgb(10, 16, 10));
    overflow: scroll;
}
.artistBox{
background-color: rgb(10, 16, 10);
text-align: center;
}
#artistList{
    color: whitesmoke;
    font-size: 14px;
    overflow: scroll;
    padding: 14px;
}